<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JwtTest화면</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script defer src="../static/js/ajxaUtil.js"></script>
    <script defer src="../static/js/login.js"></script>
</head>
<body>
    <div>
        <input id="login_id" type="text">
        <input id="login_pw" type="password">
        <button id="login_click" type="button" onclick="loginAjax()">전송</button>
    </div>
</body>
</html>